ShopBox/flows.json
[{"id":"52370516.67c55c","type":"tab","label":"ShopBox","disabled":false,"info":""},{"id":"9b3aa69b.2f8c68","type":"json","z":"52370516.67c55c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":280,"wires":[["ce7cbe57.ba923"]]},{"id":"ce7cbe57.ba923","type":"function","z":"52370516.67c55c","name":"DECODE IN JSON","func":"var client_code;\nvar productcode;\nvar chipid = msg.payload.d.data.chipID\nvar output;\n\nvar tag = msg.payload.d.data.tag;\nvar ID = tag.split(\"FBX\")\n\nif(ID[0]==\"\")\n{\nclientcode = ID[1];\noutput = {client:clientcode,chip:chipid};\n}\nelse\n{\nproductcode = ID[0];\n output = {product:productcode,chip:chipid};\n\n}\n\nreturn output;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["82c92772.d7c198","e45176ad.da2f18","b04787e1.049258"]]},{"id":"82c92772.d7c198","type":"function","z":"52370516.67c55c","name":"GET PRICE","func":"var msg_in = msg\nvar output;\n\nif(msg.hasOwnProperty('product')){\nvar product = msg.product\nvar command = \"SELECT precio FROM `producto_upc_precio` WHERE upc='\"+product+\"'\";\n output = {topic:command, upc:product}\n return [output,null];\n}else\n{\n \n  return [null,msg];\n   \n}\n","outputs":2,"noerr":0,"x":730,"y":280,"wires":[["bd875302.3c17d"],["a236b468.a5d908"]]},{"id":"a0125519.b53eb8","type":"mqtt in","z":"52370516.67c55c","name":"","topic":"iot-2/evt/status/fmt/json/barcode","qos":"2","datatype":"auto","broker":"f6830bd3.b549a8","x":170,"y":280,"wires":[["9b3aa69b.2f8c68","a51c666c.ba7668"]]},{"id":"c94ee98e.919f48","type":"http in","z":"52370516.67c55c","name":"/additem","url":"/node/additem","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1060,"wires":[["98373c1f.17f57"]]},{"id":"98373c1f.17f57","type":"function","z":"52370516.67c55c","name":"","func":"msg.url = \"additem\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1060,"wires":[["a838302b.b2b26"]]},{"id":"7970f4b2.93309c","type":"function","z":"52370516.67c55c","name":"GET NAME","func":"if(msg.payload.length >0)\n{\nvar precio = msg.payload[0].precio;\nmsg[\"precio\"] = precio;\nif(msg.hasOwnProperty('upc')){\nvar product = msg.upc\nvar command = \"SELECT producto FROM `producto_upc_precio` WHERE upc=\"+product;\n msg.topic = command\n return [msg,null];\n}}else\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":1330,"y":260,"wires":[["c92c75bf.7e4b78"],["2c857f94.88fdf"]]},{"id":"cf8e9852.cd59b8","type":"function","z":"52370516.67c55c","name":"JSONizar","func":"var precio = msg.precio;\nvar upc = msg.upc;\nvar nombre = msg.payload[0].producto\n\nvar OUTPUT = {Producto:nombre, Precio:precio,UPC:upc};\nreturn OUTPUT;","outputs":1,"noerr":0,"x":1500,"y":300,"wires":[["aba1e8c0.db3088","e688c4bf.ab0368"]]},{"id":"9d906d8a.7cc7c","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":220,"wires":[]},{"id":"aba1e8c0.db3088","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1160,"y":340,"wires":[["14d386f.f7fee79"]]},{"id":"14d386f.f7fee79","type":"function","z":"52370516.67c55c","name":"Append to JSON","func":"var content = msg.payload;\nvar items = content.search(\",\");\n\nmsg.payload = \"\";\ncontent = content.replace(']', '');\nmsg.payload += content;\n\nif(items==-1)\n{\nmsg.payload += '{\"producto\":\"' +msg.Producto +'\",\"precio\":\"' + msg.Precio +'\",'+'\"upc\":\"'+msg.UPC+'\"}]';    \n}else\n{\nmsg.payload += ',{\"producto\":\"' +msg.Producto +'\",\"precio\":\"' + msg.Precio +'\",'+'\"upc\":\"'+msg.UPC+'\"}]';    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":340,"wires":[["5a98dbe1.8e2394"]]},{"id":"5a98dbe1.8e2394","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1160,"y":380,"wires":[[]]},{"id":"8730b51f.be57d8","type":"http in","z":"52370516.67c55c","name":"","url":"/node/ResetJSON","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1360,"wires":[["c66a8619.3b3e78"]]},{"id":"4dda82e4.7371bc","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1070,"y":1360,"wires":[]},{"id":"c66a8619.3b3e78","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload=\"[]\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1300,"wires":[["5dfae7ad.375288"]]},{"id":"5dfae7ad.375288","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":500,"y":1360,"wires":[["4dda82e4.7371bc","44a47f54.ddeac"]]},{"id":"95b0d81c.ac3808","type":"http in","z":"52370516.67c55c","name":"","url":"/node/Buy","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1420,"wires":[["e7c4be5f.36071"]]},{"id":"e7c4be5f.36071","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload=\"[]\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1420,"wires":[["eb0bc933.142118"]]},{"id":"eb0bc933.142118","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":500,"y":1420,"wires":[["da47f7ad.36c538"]]},{"id":"da47f7ad.36c538","type":"function","z":"52370516.67c55c","name":"","func":"msg[\"last\"] = global.get(\"LAST\");\nmsg.payload='[{\"status\":\"ok\"}]';\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1420,"wires":[["eb5d732e.218ee"]]},{"id":"d64a0bce.361178","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":1420,"wires":[]},{"id":"38ff446a.ac7d2c","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":1460,"wires":[["da47f7ad.36c538"]]},{"id":"44a47f54.ddeac","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1320,"wires":[]},{"id":"eb5d732e.218ee","type":"function","z":"52370516.67c55c","name":"","func":"var json = msg.last;\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1460,"wires":[["dabab45.9836448"]]},{"id":"dabab45.9836448","type":"json","z":"52370516.67c55c","name":"","property":"payload","action":"","pretty":false,"x":910,"y":1460,"wires":[["15a6b037.c03d1","d64a0bce.361178"]]},{"id":"e2f2dc08.25fb5","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":1460,"wires":[]},{"id":"a09c2a9f.e9b858","type":"http in","z":"52370516.67c55c","name":"","url":"/node/home","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1120,"wires":[["c7a929ff.c93c58"]]},{"id":"98fd6db5.8e77","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1070,"y":1120,"wires":[]},{"id":"c7a929ff.c93c58","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1120,"wires":[["98fd6db5.8e77"]]},{"id":"a838302b.b2b26","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/additem.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":1060,"wires":[["2a90d3f1.fee09c","d762c3a9.5011a"]]},{"id":"2a90d3f1.fee09c","type":"http response","z":"52370516.67c55c","name":"","x":1070,"y":1060,"wires":[]},{"id":"bd875302.3c17d","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"FIRST_LINE_DEFENSE","x":1110,"y":260,"wires":[["9d906d8a.7cc7c","7970f4b2.93309c"]]},{"id":"c92c75bf.7e4b78","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"ShopBox","x":1060,"y":300,"wires":[["cf8e9852.cd59b8"]]},{"id":"582cd059.b76c3","type":"http in","z":"52370516.67c55c","name":"/wificonfig","url":"/node/wificonfig","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["96ebdc10.3f771"]]},{"id":"96ebdc10.3f771","type":"function","z":"52370516.67c55c","name":"msg.url = \"etiqueta\";","func":"msg.url = \"etiqueta\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1000,"wires":[["634a695b.b6ba28"]]},{"id":"634a695b.b6ba28","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/wificonfig.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":1000,"wires":[["ab5d56be.4dd4e8"]]},{"id":"ab5d56be.4dd4e8","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1070,"y":1000,"wires":[]},{"id":"6525b9d.83ae548","type":"http in","z":"52370516.67c55c","name":"/wificonfigpost","url":"/node/wificonfig","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1560,"wires":[["cd7f0010.b5921"]]},{"id":"9325e07c.c251d","type":"function","z":"52370516.67c55c","name":"return msg.payload to client","func":"var SSId = msg.payload.SSID\nvar PASSWORd = msg.payload.PASSWORD\n\n\nmsg[\"SSID\"] = SSId;\nmsg[\"PASSWORD\"] = PASSWORd;\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":1560,"wires":[["8091f2ef.2a97f","81cb1de2.20bd"]]},{"id":"1095a90c.b41b37","type":"file","z":"52370516.67c55c","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":600,"y":1620,"wires":[["442299b5.86da78","939c883d.d07158"]]},{"id":"e751b4c9.dc2708","type":"function","z":"52370516.67c55c","name":"wpa_supplicant","func":"var SSID = msg.SSID;\nvar PASSKEY = msg.PASSWORD;\nmsg.payload='ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\\nupdate_config=1\\ncountry=GT\\n \\nnetwork={\\n        ssid=\"' + SSID + '\"\\n        psk=\"' + PASSKEY + '\"\\n}';\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1620,"wires":[["3a57d2ca.2e936e","1095a90c.b41b37"]]},{"id":"8091f2ef.2a97f","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":1520,"wires":[]},{"id":"1ed65af3.0d87c5","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1520,"wires":[]},{"id":"442299b5.86da78","type":"exec","z":"52370516.67c55c","command":"sudo ifconfig wlan0 down","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"DISABLE WIFI","x":880,"y":1620,"wires":[[],[],["c0eb4785.6854a8","a8fe27e4.6c9568"]]},{"id":"a8fe27e4.6c9568","type":"exec","z":"52370516.67c55c","command":"sudo systemctl daemon-reload","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"DAEMON RELOAD","x":1070,"y":1620,"wires":[[],[],["aa81fe8d.0feb3","c0eb4785.6854a8"]]},{"id":"aa81fe8d.0feb3","type":"exec","z":"52370516.67c55c","command":"sudo systemctl restart dhcpcd","addpay":false,"append":"","useSpawn":"false","timer":"25","oldrc":true,"name":"RESTART DHCPCD","x":1280,"y":1620,"wires":[["39c54ea8.25c002"],["39c54ea8.25c002"],["c0eb4785.6854a8","39c54ea8.25c002"]]},{"id":"c0eb4785.6854a8","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1680,"wires":[]},{"id":"39c54ea8.25c002","type":"exec","z":"52370516.67c55c","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":260,"y":1720,"wires":[["deeff4.e055a01"],[],[]]},{"id":"deeff4.e055a01","type":"function","z":"52370516.67c55c","name":"IP","func":"var info = msg.payload;\n\nvar decode = info.split(\"wlan0\");\nvar text = decode[1];\ndecode = text.split(\"inet\")\ntext = decode[1];\nif(typeof text !== 'undefined')\n{\ndecode = text.split(\" \");\ntext = decode[1];\ndecode = text.split(\" \");\ntext = decode[0];\nmsg[\"IP\"]=text;\n}else\n{\nmsg[\"IP\"]=\"127.0.0.1\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":1720,"wires":[["71c48e92.4ca2"]]},{"id":"71c48e92.4ca2","type":"function","z":"52370516.67c55c","name":"RETURN PAYLOAD","func":"var IP = msg.IP;\nif((IP == \"127.0.0.1\")||(typeof IP === \"undefined\"))\n{\n   msg.payload = \"El dispositivo no se pudo conectar a la red ingresada\";  \n}\nelse\n{\n    msg.payload = \"Conexi贸n establecidad a la red con la siguiente direcci贸n IP: \" + IP;   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1720,"wires":[["8bb8bef9.9476b","8574f869.b22418"]]},{"id":"81cb1de2.20bd","type":"exec","z":"52370516.67c55c","command":"sudo rm -rf /etc/wpa_supplicant/wpa_supplicant.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":980,"y":1560,"wires":[["db8caa57.2af558"],[],["e751b4c9.dc2708"]]},{"id":"db8caa57.2af558","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1286,"y":1547,"wires":[]},{"id":"56a2621a.754f0c","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1520,"wires":[["9325e07c.c251d"]]},{"id":"939c883d.d07158","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1660,"wires":[]},{"id":"cd7f0010.b5921","type":"function","z":"52370516.67c55c","name":"msg.url = \"etiqueta\";","func":"msg.url = \"add_item\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1560,"wires":[["9325e07c.c251d","1ed65af3.0d87c5"]]},{"id":"3a57d2ca.2e936e","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":1660,"wires":[]},{"id":"8bb8bef9.9476b","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1330,"y":1720,"wires":[]},{"id":"8574f869.b22418","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1760,"wires":[]},{"id":"15a6b037.c03d1","type":"function","z":"52370516.67c55c","name":"","func":"var items = msg.payload;\nvar len = items.length;\nvar user =\"\";\nvar id=\"\";\nvar empresa=\"\";\nvar t;\nvar pos;\nvar pos2;\n\nmsg.paylad = len;\nfor(t=0;t<len;t++)\n{\n    if(items[t].hasOwnProperty('user'))\n    {\n        user=items[t].user;\n        id=items[t].id;\n        empresa=items[t].empresa;\n        pos = t;\n    }\n    \n}\n\nfor(t=0;t<len;t++)\n{\n    if(items[t].hasOwnProperty('total'))\n    {\n        pos2 = t;\n    }\n    \n}\n\nfor(t=0;t<len;t++)\n{\n    if((!items[t].hasOwnProperty('user'))||(!items[t].hasOwnProperty('total')))\n    {\n        items[t][\"user\"]=user;\n        items[t][\"id\"]=id;\n        items[t][\"empresa\"]=empresa;\n    }\n    \n}\n\nitems.splice(pos, 1);\nitems.splice(pos2, 1);\nvar out;\nout = {payload:items}\nreturn out;","outputs":1,"noerr":0,"x":1050,"y":1460,"wires":[["e2f2dc08.25fb5"]]},{"id":"4dd927ba.c875e8","type":"exec","z":"52370516.67c55c","command":"sudo iwlist wlan0 scan","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":1800,"wires":[["cafd6125.3ab7a"],[],[]]},{"id":"cafd6125.3ab7a","type":"function","z":"52370516.67c55c","name":"DECODE","func":"var scan = msg.payload;\nvar text=\"\";\nvar ssid;\nvar pos = scan.split('ESSID:\"');  \nvar len = pos.length;\n\n\nfor(var x=1; x<len; x++)\n{\nvar ssid_before = pos[x].split('\"');\nssid = ssid_before[0];\nif(!ssid==\"\"){\ntext += ssid + \"\\n\"\n}\n}\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1800,"wires":[["1fbd8455.b72bcc"]]},{"id":"791cdbfc.f8a0a4","type":"http in","z":"52370516.67c55c","name":"","url":"/node/nets","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1800,"wires":[["4dd927ba.c875e8"]]},{"id":"4cca31ff.0adb6","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1330,"y":1800,"wires":[]},{"id":"1fbd8455.b72bcc","type":"function","z":"52370516.67c55c","name":"CREATE ARRAY","func":"var SSIDS = msg.payload\nvar items = SSIDS.split(\"\\n\");\nvar itemslen = items.length\nvar x=0;\ntext = \"\";\n\n\n\n\nmsg.payload = items;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1800,"wires":[["4cca31ff.0adb6","bdb6900d.361e9"]]},{"id":"1637acc7.c89293","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1920,"wires":[["4dd927ba.c875e8"]]},{"id":"bdb6900d.361e9","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1840,"wires":[]},{"id":"5e0bfdeb.b71d94","type":"http in","z":"52370516.67c55c","name":"","url":"/node/scan","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["ab0f9a5a.b15628"]]},{"id":"d82a1677.55ea98","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":1070,"y":1160,"wires":[]},{"id":"ab0f9a5a.b15628","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/scan.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1160,"wires":[["d82a1677.55ea98"]]},{"id":"4c79c7e.b274c38","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1100,"wires":[["a838302b.b2b26"]]},{"id":"d762c3a9.5011a","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1080,"wires":[]},{"id":"30d6bdf8.a24c92","type":"http in","z":"52370516.67c55c","name":"","url":"/node/users","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2000,"wires":[["7c541de6.461464"]]},{"id":"7c541de6.461464","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/users.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":2000,"wires":[["abccacfe.502b7"]]},{"id":"abccacfe.502b7","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":630,"y":2000,"wires":[]},{"id":"a1e99255.8c27c","type":"watch","z":"52370516.67c55c","name":"","files":"/home/dennix/Escritorio/ShopBox/JSON","recursive":"","x":410,"y":2520,"wires":[["745c56ff.ca7888","538d7a.dbfea288"]]},{"id":"b547bf7f.fd48e","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2560,"wires":[["745c56ff.ca7888"]]},{"id":"745c56ff.ca7888","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":2560,"wires":[["3e4ba5ff.620e2a","a8ea504a.e5ff5"]]},{"id":"3e4ba5ff.620e2a","type":"json","z":"52370516.67c55c","name":"","property":"payload","action":"","pretty":false,"x":670,"y":2560,"wires":[["e71f655a.2a4748","860d949f.ec96f8"]]},{"id":"e71f655a.2a4748","type":"function","z":"52370516.67c55c","name":"","func":"var productarray=[]; \nvar pricearray=[];\nvar productcounter=[];\nvar productprice=[];\nvar upcarray=[];\nvar jsonpos=0;\nvar total=0;\nvar jsonin = msg.payload;\nvar jsonlen = jsonin.length;\nvar user=false;\nvar finaljson=\"\";\nvar username=\"\";\nvar userid=\"\";\nvar empresaid=\"\";\nvar admindb=\"\";\n\nif(jsonlen==0)\n{\n   finaljson = '[{\"total\":\"0\"}]'; \n}\nelse{\n    \n\n\nfor(var x=0; x<jsonlen; x++)\n{\n    if(jsonin[x].hasOwnProperty('producto'))\n    {\nif(productarray.indexOf(jsonin[x].producto)==-1)\n{\n    productarray.push(jsonin[x].producto);\n    upcarray.push(jsonin[x].upc);\n    productcounter[jsonpos] = 1;\n    pricearray[jsonpos] = jsonin[x].precio;\n    total += parseFloat(jsonin[x].precio);\n    productprice[jsonpos]=parseFloat(jsonin[x].precio);\n    jsonpos++;\n}else\n{\n var pos = productarray.indexOf(jsonin[x].producto);\n if(productcounter[pos]==='undefined')\n {\n    productcounter[pos] = 1; \n }\n pricearray[pos] = jsonin[x].precio;\n productcounter[pos]+=1;\n productprice[pos]+=parseFloat(jsonin[x].precio);\n total += parseFloat(jsonin[x].precio);\n}\n} else if(jsonin[x].hasOwnProperty('Usuario'))\n{\n  msg[\"user\"]=jsonin[x].Usuario;\n  username = jsonin[x].Usuario;\n  msg[\"id\"]=jsonin[x].id; \n  userid = jsonin[x].id; \n  empresaid = jsonin[x].empresa;\n  admindb=jsonin[x].admin;\n  user = true;\n}\n}\n\nmsg.payload=\"\";\nmsg[\"counter\"] = productcounter;\nmsg[\"productos\"] = productarray;\nmsg[\"prices\"] = productprice;\nmsg[\"unitprices\"] = pricearray;\nmsg[\"total\"] = total;\n\n finaljson += \"[\"\n \nfor(var r = 0; r<productcounter.length; r++)\n{\n    finaljson += '{\"counter\":\"'+ productcounter[r] + '\",\"producto\":\"' + productarray[r] +'\",\"upc\":\"'+upcarray[r]+ '\",\"precio\":\"' + pricearray[r] + '\",\"subtotal\":\"' + productprice[r] + '\"}';\n    //if(r!=(productcounter.length-1))\n    //{\n     finaljson += ',';\n//    }\n}\nfinaljson += '{\"total\":\"'+ total +'\"}';\n\n \n if(user)\n {\n finaljson += ',{\"user\":\"'+ username +'\",\"id\":\"'+ userid + '\",\"empresa\":\"'+ empresaid +'\",\"admin\":\"' + admindb +'\"}';\n }\n  finaljson += \"]\"\n}\n\nmsg.payload = finaljson;\nglobal.set(\"LAST\",finaljson);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2560,"wires":[["4a71ec40.3bf8a4"]]},{"id":"860d949f.ec96f8","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":2520,"wires":[]},{"id":"4a71ec40.3bf8a4","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSONlite","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1030,"y":2560,"wires":[["4ce16366.b45e0c","d2958dba.7e5e4"]]},{"id":"538d7a.dbfea288","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":2480,"wires":[]},{"id":"a8ea504a.e5ff5","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":2520,"wires":[]},{"id":"bc3c694a.4a3928","type":"http in","z":"52370516.67c55c","name":"","url":"/node/Bye","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2620,"wires":[["38bcf371.da0fac","be488fac.8bb9b"]]},{"id":"38bcf371.da0fac","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":2660,"wires":[]},{"id":"be488fac.8bb9b","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":410,"y":2620,"wires":[]},{"id":"4ce16366.b45e0c","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":2560,"wires":[]},{"id":"5c20884e.149828","type":"http in","z":"52370516.67c55c","name":"","url":"/node/status","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2720,"wires":[["4f1fef13.f053a"]]},{"id":"f4be011f.0c592","type":"function","z":"52370516.67c55c","name":"VARIABLES_GLOBALES","func":"global.set(\"ESTATUS\",1);\nglobal.set(\"ERROR\",0);\nglobal.set(\"BARCODE\",\"00000000\");\nglobal.set(\"IP\",\"127.0.0.1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["1b0c6e5e.c391a2"]]},{"id":"4f1fef13.f053a","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload = global.get(\"ESTATUS\")\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":2720,"wires":[["b2de198e.99fed8"]]},{"id":"b2de198e.99fed8","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":410,"y":2740,"wires":[]},{"id":"4d03f103.a9ba8","type":"http in","z":"52370516.67c55c","name":"","url":"/node/ok","method":"get","upload":false,"swaggerDoc":"","x":110,"y":2760,"wires":[["460b96a4.fa2d38"]]},{"id":"460b96a4.fa2d38","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"ESTATUS\",0)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":2760,"wires":[["b2de198e.99fed8"]]},{"id":"6554d791.15c9a8","type":"http in","z":"52370516.67c55c","name":"","url":"/node/init","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["f4be011f.0c592","e2d6460e.58b898"]]},{"id":"1b0c6e5e.c391a2","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]},{"id":"58a3bf2c.fe8d1","type":"http in","z":"52370516.67c55c","name":"","url":"/node/error","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2820,"wires":[["e18bea93.2b5428"]]},{"id":"e18bea93.2b5428","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload = global.get(\"ERROR\")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":2820,"wires":[["cf3c58ec.596798"]]},{"id":"cf3c58ec.596798","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":410,"y":2840,"wires":[]},{"id":"34fd0a35.606136","type":"http in","z":"52370516.67c55c","name":"","url":"/node/informed","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2860,"wires":[["efabdeb.682af2"]]},{"id":"efabdeb.682af2","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"ERROR\",0)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":2860,"wires":[["cf3c58ec.596798"]]},{"id":"2c857f94.88fdf","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"ERROR\",1)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":260,"wires":[[]]},{"id":"d2958dba.7e5e4","type":"function","z":"52370516.67c55c","name":"","func":"//if(msg.payload!='[{\"total\":\"0\"}]')\n//{\n global.set(\"ESTATUS\",1)\n   \n//}\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2480,"wires":[[]]},{"id":"e45176ad.da2f18","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"BARCODE\",msg.product)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["c9926535.5a5798"]]},{"id":"c9926535.5a5798","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":180,"wires":[]},{"id":"569784b0.f6b47c","type":"http in","z":"52370516.67c55c","name":"","url":"/node/barcode","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2920,"wires":[["b5c6ac29.f2553"]]},{"id":"b5c6ac29.f2553","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload = global.get(\"BARCODE\")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":2920,"wires":[["a8f1afa4.70d5b"]]},{"id":"a8f1afa4.70d5b","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":410,"y":2920,"wires":[]},{"id":"8b594e7b.94b898","type":"inject","z":"52370516.67c55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1260,"wires":[["c66a8619.3b3e78"]]},{"id":"b04787e1.049258","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":380,"wires":[]},{"id":"a51c666c.ba7668","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":240,"wires":[]},{"id":"ad7ea5a7.498e18","type":"catch","z":"52370516.67c55c","name":"","scope":["bd875302.3c17d"],"uncaught":false,"x":1310,"y":220,"wires":[["2c857f94.88fdf","d3822ef8.9c3a5"]]},{"id":"d3822ef8.9c3a5","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1460,"y":180,"wires":[]},{"id":"25cf3050.3e055","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"ESTATUS\",1)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[[]]},{"id":"e2d6460e.58b898","type":"delay","z":"52370516.67c55c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":180,"wires":[["25cf3050.3e055"]]},{"id":"e688c4bf.ab0368","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":280,"wires":[]},{"id":"fd0e4584.1a4258","type":"http in","z":"52370516.67c55c","name":"/additem","url":"/node/additem","method":"post","upload":false,"swaggerDoc":"","x":120,"y":2080,"wires":[["cc96c0d6.b7d91","bd24b5f2.a82838","a2735d30.0b934"]]},{"id":"cc96c0d6.b7d91","type":"debug","z":"52370516.67c55c","name":"mysitepost","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":2080,"wires":[]},{"id":"8880f172.a858c","type":"http response","z":"52370516.67c55c","name":"","x":690,"y":2120,"wires":[]},{"id":"bd24b5f2.a82838","type":"function","z":"52370516.67c55c","name":"return msg.payload to client","func":"var precio = msg.payload.Precio\nvar Descripcion = msg.payload.Descripcion\nvar code = msg.payload.upc\n\nif((precio==\"\")||(Descripcion==\"\")||(code==\"\"))\n{\n      msg.payload = 'Error ingrese los datos correctamente';\n  \n}\nelse\n{\n    msg.payload = 'La informaci贸n fue enviada a la base de datos: <br>' + \"Producto: \" +Descripcion+\"     \"+ \"Precio: \" +precio+\"     \"+ \"UPC: \"+code;\n\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2120,"wires":[["8880f172.a858c"]]},{"id":"a2735d30.0b934","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB","func":"var upc = msg.payload.upc;\nvar pre = msg.payload.Precio;\nvar desc = msg.payload.Descripcion;\nvar output;\n\nvar command = \"SELECT precio FROM `producto_upc_precio` WHERE upc='\"+upc+\"'\"\nvar output = {topic:command,upc_code:upc,Precio:pre,Descripcion:desc}\n\nreturn output;","outputs":1,"noerr":0,"x":490,"y":2160,"wires":[["635cc9f8.65e388","bf616573.53c9f8"]]},{"id":"20cbbe80.17e682","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":2280,"wires":[]},{"id":"59fef4d4.19c10c","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB_II","func":"var output;\nvar total = msg.payload;\nvar upc = msg.upc_code;\nvar pre = msg.Precio;\nvar desc = msg.Descripcion;\nvar array_detect = total.length;\n\n   output = \n{\n    db_exist:array_detect,upc_code:upc,Precio:pre,Descripcion:desc\n}\nreturn output;","outputs":1,"noerr":0,"x":490,"y":2280,"wires":[["38896c2d.55d9e4","100d06e3.e55049","88b52340.da067"]]},{"id":"38896c2d.55d9e4","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":2240,"wires":[]},{"id":"100d06e3.e55049","type":"function","z":"52370516.67c55c","name":"ADD_ELEMENT","func":"var existance = msg.db_exist;\nvar upc = msg.upc_code;\nvar descripcion= msg.Descripcion;\nvar precio=msg.Precio;\n\nif(existance===0)\n{\nvar command = 'INSERT INTO producto_upc_precio (producto,upc,precio) VALUES(\"' + descripcion + '\",\"' + upc + '\",\"'+ precio +'\");'\nvar output = {topic:command}\n}\n\nreturn output;\n","outputs":1,"noerr":0,"x":450,"y":2360,"wires":[["5e916d6b.9352f4","4ade535c.42d82c"]]},{"id":"88b52340.da067","type":"function","z":"52370516.67c55c","name":"REPLACE ELEMENT","func":"\nvar existance = msg.db_exist;\nvar upc = msg.upc_code;\nvar descripcion= msg.Descripcion;\nvar precio=msg.Precio;\n\nif(existance>0)\n{\nvar command = \"UPDATE producto_upc_precio SET precio=\"  +precio+\" WHERE upc=\"+\"'\" +upc+\"'\";\nvar output = {topic:command}\n}\n\nreturn output;\n","outputs":1,"noerr":0,"x":460,"y":2400,"wires":[["58799ecc.0fcfa","4ade535c.42d82c"]]},{"id":"635cc9f8.65e388","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":2200,"wires":[]},{"id":"5e916d6b.9352f4","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":2320,"wires":[]},{"id":"58799ecc.0fcfa","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":2400,"wires":[]},{"id":"bf616573.53c9f8","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"ShopBox","x":800,"y":2220,"wires":[["20cbbe80.17e682","59fef4d4.19c10c"]]},{"id":"4ade535c.42d82c","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"ShopBox","x":780,"y":2340,"wires":[["20cbbe80.17e682"]]},{"id":"7b6c711e.2b0f8","type":"http in","z":"52370516.67c55c","name":"","url":"/node/users","method":"post","upload":false,"swaggerDoc":"","x":140,"y":640,"wires":[["4d037536.2b180c","f1d3a277.1ebad","50e7e64f.514bf8"]]},{"id":"10d7262.7d844da","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"","x":810,"y":680,"wires":[["a7267238.46cfd","8af14db8.7e7c"]]},{"id":"76bbb61a.3e54e8","type":"inject","z":"52370516.67c55c","name":"","topic":"UPDATE clientes_id_empresa_admin SET clientes='DeX U235' WHERE id='1'","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":940,"wires":[["31f6a18b.685dce"]]},{"id":"50e7e64f.514bf8","type":"debug","z":"52370516.67c55c","name":"mysitepost","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":400,"y":600,"wires":[]},{"id":"8758f542.821358","type":"http response","z":"52370516.67c55c","name":"","x":1000,"y":640,"wires":[]},{"id":"4d037536.2b180c","type":"function","z":"52370516.67c55c","name":"return msg.payload to client","func":"var c = msg.payload.clientes;\nvar id = msg.payload.id;\nvar emp = msg.payload.empresa;\nvar root = msg.payload.rootc\n\n\n    msg.payload = 'La informaci贸n fue enviada a la base de datos: <br>' + \"Usuario: \" +c+\"     \"+ \"ID: \" +id+\"     \"+ \"Empresa: \" +emp+\"     \"+ \"privileges: \" +root;","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["8758f542.821358"]]},{"id":"f1d3a277.1ebad","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB","func":"var c = msg.payload.nombre;\nvar id = msg.payload.id;\nvar emp = msg.payload.empresa;\n\nif(msg.payload.root == \"Regular\") msg.payload.root = 0;\nif(msg.payload.root == \"Admin\") msg.payload.root = 1;\n\nvar root = msg.payload.root\n\nvar command = \"SELECT clientes FROM `clientes_id_empresa_admin` WHERE id=\"+id\n\nmsg[\"c\"] = c\nmsg[\"id\"] = id\nmsg[\"emp\"] = emp\nmsg[\"root\"] = root\nmsg[\"topic\"] = command\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["5e953992.40abb8","10d7262.7d844da"]]},{"id":"a7267238.46cfd","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":780,"wires":[]},{"id":"8af14db8.7e7c","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB_II","func":"var total = msg.payload;\nvar array_detect = total.length;\nmsg[\"db_exist\"]=array_detect\n    \nreturn msg","outputs":1,"noerr":0,"x":400,"y":800,"wires":[["49865cc9.5964b4","dfdc8e39.78213"]]},{"id":"49865cc9.5964b4","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":400,"y":760,"wires":[]},{"id":"dfdc8e39.78213","type":"function","z":"52370516.67c55c","name":"ADD_ELEMENT","func":"var existance = msg.db_exist;\nvar c = msg.c;\nvar id = msg.id;\nvar emp = msg.emp;\nvar root = msg.root\n\nif(existance===0)\n{\nmsg[\"topic\"] = 'INSERT INTO clientes_id_empresa_admin (clientes,id,empresa,admin) VALUES(\"' + c + '\",\"' + id + '\",\"'+ emp +'\",\"' + root+'\");'\n}else{\nmsg[\"topic\"] =    \"UPDATE clientes_id_empresa_admin SET clientes = '\" +c+\"', id = '\"+id+\"', empresa = '\"+emp+\"', admin = '\"+root+\"' WHERE id =\" + id;\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["aa2ec857.244fc8","31f6a18b.685dce"]]},{"id":"5e953992.40abb8","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":400,"y":720,"wires":[]},{"id":"aa2ec857.244fc8","type":"debug","z":"52370516.67c55c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":640,"y":840,"wires":[]},{"id":"31f6a18b.685dce","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"","x":810,"y":880,"wires":[["a7267238.46cfd"]]},{"id":"9352567f.8722b8","type":"comment","z":"52370516.67c55c","name":"PRODUCTO","info":"","x":1010,"y":200,"wires":[]},{"id":"c3de4f.ee62d1b","type":"comment","z":"52370516.67c55c","name":"USUARIO","info":"","x":1000,"y":440,"wires":[]},{"id":"a236b468.a5d908","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB","func":"var client = msg.client;\nvar chipid = msg.chip;\n\n\n\n\nmsg['topic'] = \"SELECT clientes FROM `clientes_id_empresa_admin` WHERE id=\"+client\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":480,"wires":[["a1859658.daa488"]]},{"id":"a1859658.daa488","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"","x":1340,"y":480,"wires":[["fbaf09b7.796268","a7cf1194.aa2ca"]]},{"id":"fbaf09b7.796268","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":480,"wires":[]},{"id":"a7cf1194.aa2ca","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB_II","func":"var total = msg.payload;\nvar array_detect = total.length;\nmsg[\"db_exist\"]=array_detect\n    \nreturn msg","outputs":1,"noerr":0,"x":1130,"y":520,"wires":[["fb17a39d.43c07"]]},{"id":"fb17a39d.43c07","type":"function","z":"52370516.67c55c","name":"Empresa","func":"var existance = msg.db_exist;\nvar client = msg.client;\n\n\nif(existance===0)\n{\nreturn [null,msg]\n}else{\nmsg[\"user\"] = msg.payload[0].clientes\nmsg['topic'] = \"SELECT empresa FROM `clientes_id_empresa_admin` WHERE id=\"+client\nreturn [msg,null]\n}\n\n","outputs":2,"noerr":0,"x":1340,"y":520,"wires":[["fa8bce83.4a624"],["f099c308.8faad"]]},{"id":"f099c308.8faad","type":"function","z":"52370516.67c55c","name":"","func":"global.set(\"ERROR\",1)\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":580,"wires":[[]]},{"id":"80cc6dd7.7bc26","type":"file in","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1520,"y":660,"wires":[["a0e6ce71.d12d"]]},{"id":"a0e6ce71.d12d","type":"function","z":"52370516.67c55c","name":"Append to JSON","func":"var content = msg.payload;\nvar items = content.search(\",\");\n\nmsg.payload = \"\";\ncontent = content.replace(']', '');\nmsg.payload += content;\n\nif(items==-1)\n{\nmsg.payload += '{\"Usuario\":\"' +msg.user +'\",\"admin\":\"'+msg.admin+'\",\"id\":\"' + msg.client +'\",'+'\"empresa\":\"'+msg.empresa+'\"}]';    \n}else\n{\nmsg.payload += ',{\"Usuario\":\"' +msg.user +'\",\"admin\":\"'+msg.admin+'\",\"id\":\"' + msg.client +'\",'+'\"empresa\":\"'+msg.empresa+'\"}]';    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":660,"wires":[["1501c26b.41e21e"]]},{"id":"1501c26b.41e21e","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/JSON","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1540,"y":700,"wires":[[]]},{"id":"fa8bce83.4a624","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"","x":1520,"y":520,"wires":[["e904dff.1bbcd2"]]},{"id":"e904dff.1bbcd2","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB_II","func":"var total = msg.payload;\nvar array_detect = total.length;\nmsg[\"db_exist\"]=array_detect\n    \nreturn msg","outputs":1,"noerr":0,"x":1730,"y":520,"wires":[["28d36622.25c30a"]]},{"id":"28d36622.25c30a","type":"function","z":"52370516.67c55c","name":"Admin","func":"var existance = msg.db_exist;\nvar client = msg.client;\n\n\nif(existance===0)\n{\nreturn [null,msg]\n}else{\nmsg[\"empresa\"] = msg.payload[0].empresa\nmsg['topic'] = \"SELECT admin FROM `clientes_id_empresa_admin` WHERE id=\"+client\nreturn [msg,null]\n}\n\n","outputs":2,"noerr":0,"x":1930,"y":520,"wires":[["20d8d52f.9dcd2a"],["f099c308.8faad"]]},{"id":"20d8d52f.9dcd2a","type":"mysql","z":"52370516.67c55c","mydb":"f5336027.6147d","name":"","x":2080,"y":520,"wires":[["cf44f3ed.cf2ef"]]},{"id":"cf44f3ed.cf2ef","type":"function","z":"52370516.67c55c","name":"CHECK_EXISTANCE_IN_DB_II","func":"var total = msg.payload;\nvar array_detect = total.length;\nmsg[\"db_exist\"]=array_detect\n    \nreturn msg","outputs":1,"noerr":0,"x":1750,"y":560,"wires":[["d7af3803.999708"]]},{"id":"d7af3803.999708","type":"function","z":"52370516.67c55c","name":"Admin","func":"var existance = msg.db_exist;\n\n\nif(existance===0)\n{\nreturn [null,msg]\n}else{\nmsg[\"admin\"] = msg.payload[0].admin\nreturn [msg,null]\n}\n\n","outputs":2,"noerr":0,"x":1950,"y":560,"wires":[["234a99d9.7a7126","80cc6dd7.7bc26"],["f099c308.8faad"]]},{"id":"234a99d9.7a7126","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2080,"y":640,"wires":[]},{"id":"e3bceb74.cc6df8","type":"inject","z":"52370516.67c55c","name":"GET IP","topic":"","payload":"ifconfig","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"45","x":120,"y":80,"wires":[["f4be011f.0c592"]]},{"id":"9d0bba56.00ac08","type":"function","z":"52370516.67c55c","name":"IP","func":"var info = msg.payload;\n\nvar decode = info.split(\"wlan0\");\nvar text = decode[1];\ndecode = text.split(\"inet\")\ntext = decode[1];\nif(typeof text !== 'undefined')\n{\ndecode = text.split(\" \");\ntext = decode[1];\ndecode = text.split(\" \");\ntext = decode[0];\nmsg[\"IP\"]=text;\n}else\n{\nmsg[\"IP\"]=\"127.0.0.1\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["d9682286.7241e"]]},{"id":"74600f4.db974f","type":"exec","z":"52370516.67c55c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":60,"wires":[["9d0bba56.00ac08"],[],[]]},{"id":"d9682286.7241e","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload=\"[]\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[["1208a799.3bcce8"]]},{"id":"1208a799.3bcce8","type":"file","z":"52370516.67c55c","name":"","filename":"/home/dennix/Escritorio/ShopBox/wificonfig.html","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":60,"wires":[["5cdd2130.1ea5e"]]},{"id":"5cdd2130.1ea5e","type":"function","z":"52370516.67c55c","name":"","func":"var IP = msg.IP;\nif(IP == \"127.0.0.1\")\n{\n    msg.payload = 'DISPLAY=:0 chromium-browser --kiosk --app=http://127.0.0.1/scan.html';\n}else\n{\n     msg.payload = 'DISPLAY=:0 chromium-browser --kiosk --app=http://127.0.0.1/index.html';\n   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["47fe5c13.0ffd54"]]},{"id":"47fe5c13.0ffd54","type":"exec","z":"52370516.67c55c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1170,"y":60,"wires":[["7412839.bd6fd7c"],["7412839.bd6fd7c"],["7412839.bd6fd7c"]]},{"id":"7412839.bd6fd7c","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":60,"wires":[]},{"id":"97aeaa32.599528","type":"function","z":"52370516.67c55c","name":"IP","func":"var info = msg.payload;\n\nvar decode = info.split(\"wlan0\");\nvar text = decode[1];\ndecode = text.split(\"inet\")\ntext = decode[1];\nif(typeof text !== 'undefined')\n{\ndecode = text.split(\" \");\ntext = decode[1];\ndecode = text.split(\" \");\ntext = decode[0];\nmsg[\"IP\"]=text;\nglobal.set(\"IP\",text)\n}else\n{\nmsg[\"IP\"]=\"127.0.0.1\";\nglobal.set(\"IP\",\"127.0.0.1\")\n\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["dc836f94.c68e2"]]},{"id":"3c81375d.0705a8","type":"exec","z":"52370516.67c55c","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":260,"y":460,"wires":[["97aeaa32.599528"],[],[]]},{"id":"c2286377.7f89e","type":"http in","z":"52370516.67c55c","name":"","url":"/node/ip","method":"get","upload":false,"swaggerDoc":"","x":130,"y":520,"wires":[["655cbb1d.305374"]]},{"id":"2c2949d6.581e76","type":"inject","z":"52370516.67c55c","name":"","topic":"ifconfig","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"30","x":120,"y":460,"wires":[["3c81375d.0705a8"]]},{"id":"655cbb1d.305374","type":"function","z":"52370516.67c55c","name":"","func":"msg.payload = global.get(\"IP\")\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["3e025ce9.c39604"]]},{"id":"3e025ce9.c39604","type":"http response","z":"52370516.67c55c","name":"","statusCode":"","headers":{},"x":440,"y":520,"wires":[]},{"id":"dc836f94.c68e2","type":"debug","z":"52370516.67c55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":420,"wires":[]},{"id":"f6830bd3.b549a8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f5336027.6147d","type":"MySQLdatabase","z":"","host":"35.224.103.187","port":"3306","db":"shopbox","tz":""}]